openapi: 3.0.3
info:
  title: Data Service API
  version: 1.0.0
paths:
  /events:
    get:
      tags:
        - DataService
      operationId: getEvents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserEvent'
components:
  schemas:
    UserEvent:
      type: object
      properties:
        eventType:
          type: string
        eventTime:
          type: string
          format: date-time
      required:
        - eventType
        - eventTime