openapi: 3.0.3
info:
  title: Report Service API
  version: 1.0.0
paths:
  /events:
    post:
      tags:
        - ReportService
      operationId: writeEvents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserEvent'
      responses:
        '201':
          description: Created
components:
  schemas:
    UserEvent:
      type: object
      properties:
        eventType:
          type: string
        eventTime:
          type: string
          format: date-time
      required:
        - eventType
        - eventTime